### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
target

### The protocol master
/plugins/*.jar
/data/*.*
/protocol-runner/data/*.*
/data/
/protocol-runner/test/
/protocol-runner/plugins/
jte-classes
/extensions.idx
/plugins/
/protocol-runner/extensions.idx
.flattened-pom.xml
/.idea/copilot.data.migration.ask2agent.xml


# Put either here or in .idea/.gitignore
.idea/**/tasks.xml
.idea/**/aws.xml              # if AWS Toolkit installed
.idea/**/contentModel.xml     # generated
.idea/**/caches/              # 2024+ versions
.idea/**/workspace.xml         # contains local history, should not be shared