{
  "pluginsDir": "plugins",
  "logLevel": "INFO",
  "dataDir": "{dataDir}",
  "apiPort": 9127,
  "plugins": {
    "report-plugin": {
        "active": true
    }
  },
  "protocols": {
    "postgres-01": {
      "protocol": "postgres",
      "port": {postgresPort},
      "login": "{postgresLogin}",
      "password": "{postgresPassword}",
      "connectionString": "{postgresConnection}",
      "plugins": {
        "record-plugin": {
          "active": {recordActive}
        },
        "replay-plugin": {
          "active": {replayActive}
        },
        "report-plugin": {
            "active": true
        }
      }
    },
    "http-01": {
      "protocol": "http",
      "http": {httpPort},
      "https": {httpsPort},
      "proxy": {proxyPort},
      "plugins": {
        "record-plugin": {
          "active": {recordActive}
        },
        "replay-plugin": {
          "active": {replayActive}
        },
        "report-plugin": {
            "active": true
        }
      }
    }
  }
}